# Contexto e Planejamento

Contexto

Nosso cliente é uma seguradora que forneceu seguro saúde para seus clientes agora eles precisam de sua ajuda para construir um modelo para prever se os segurados (clientes) do ano passado também estarão interessados no seguro de veículos fornecido pela empresa.

Uma apólice de seguro é um acordo pelo qual uma empresa se compromete a fornecer uma garantia de compensação por perda, dano, doença ou morte especificados em troca do pagamento de um prêmio especificado. Um prêmio é uma quantia em dinheiro que o cliente precisa pagar regularmente a uma companhia de seguros por essa garantia.

Por exemplo, você pode pagar um prêmio de Rs. 5000 por ano para um seguro de saúde de Rs. 200.000 / - para que, se Deus me livre, você adoecer e precisar ser hospitalizado naquele ano, a seguradora arcará com o custo da hospitalização etc. 200.000. Agora, se você está se perguntando como a empresa pode arcar com um custo tão alto de hospitalização quando cobra um prêmio de apenas Rs. 5000/-, é aí que entra o conceito de probabilidades. Por exemplo, como você, pode haver 100 clientes que pagariam um prêmio de Rs. 5000 todos os anos, mas apenas alguns deles (digamos 2-3) seriam hospitalizados naquele ano e nem todos. Desta forma, todos compartilham o risco de todos os outros.

Assim como o seguro médico, existe o seguro de veículo em que todos os anos o cliente precisa pagar um prêmio de determinado valor à seguradora, de modo que, em caso de acidente infeliz com o veículo, a seguradora forneça uma compensação (chamada de 'soma garantido') Para o consumidor.

Construir um modelo para prever se um cliente estaria interessado em seguro de veículos é extremamente útil para a empresa, pois pode planejar adequadamente sua estratégia de comunicação para alcançar esses clientes e otimizar seu modelo de negócios e receita.

Agora, para prever se o cliente estaria interessado no seguro de veículos, você tem informações sobre dados demográficos (sexo, idade, tipo de código de região), veículos (idade do veículo, danos), apólice (premium, canal de abastecimento) etc.

Planejamento da produção

Empresa de seguro já vende seguro de saúde e agora querem vender um de carro.
Quanto de dinheiro vai trazer? Para quais pessoas oferecer?

- Planejamento da Solução
- Coleta de dados
- Análise descritiva
- Pesquisa de Negócio
- EDA
- Relatório de Insights
- Preparação dos dados
- Implementação dos modelos
- Métricas de Negócio
- Tradução para Negócio
- Deploy do modelo em produção
- Acesso aos dados em produção
- Escrita de artigo
- Aprendizados

# Planejamento

1. Coleta de dados
2. Análise descritiva
3. Compreeção do negócio e formulação de perguntas
4. EDA
5. Relatório de Insights
6. Preparação dos dados
7. Implementação dos modelos
8. Métricas dos modelos
9. Fine tuning
10. Treinamento do modelo final
11. Métricas de negócio
12. Tradução para resultados de negócio
13. Deploy em produção

# 0. Imports and Help Functions

In [43]:
import pandas  as pd
import seaborn as sns

import inflection

from sqlalchemy  import create_engine
from scipy.stats import skew, kurtosis
from datetime    import datetime, timedelta

from matplotlib import pyplot as plt

# 1. Data Colect

## 1.1 straight from the database

- Database: Postgres 12.0 - AWS
- **Credentials:**
- HOST = comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com
- PORT = 5432
- Database = comunidadedsdb
- Username = member
- Password = cdspa

In [7]:
# DATABASE_CONNECT = 'postgresql://member:cdspa@comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com:5432/comunidadedsdb'
# db = create_engine(DATABASE_CONNECT)
# conn = db.connect()

# conn

## 1.2 Data Load

In [8]:
df_root = pd.read_csv('database/train.csv')

# 2. Data Description

In [9]:
df2 = df_root.copy()

## 2.1 Columns name

In [10]:
df2.columns

Index(['id', 'Gender', 'Age', 'Driving_License', 'Region_Code',
       'Previously_Insured', 'Vehicle_Age', 'Vehicle_Damage', 'Annual_Premium',
       'Policy_Sales_Channel', 'Vintage', 'Response'],
      dtype='object')

In [11]:
old_columns = list(df2.columns)

snekecase = lambda x: inflection.underscore(x)

new_columns = list(map(snekecase, old_columns))

df2.columns = new_columns

In [12]:
df2

,id,gender,age,driving_license,region_code,previously_insured,vehicle_age,vehicle_damage,annual_premium,policy_sales_channel,vintage,response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0
...,...,...,...,...,...,...,...,...,...,...,...,...
381104,381105,Male,74,1,26.0,1,1-2 Year,No,30170.0,26.0,88,0
381105,381106,Male,30,1,37.0,1,< 1 Year,No,40016.0,152.0,131,0
381106,381107,Male,21,1,30.0,1,< 1 Year,No,35118.0,160.0,161,0
381107,381108,Female,68,1,14.0,0,> 2 Years,Yes,44617.0,124.0,74,0
381108,381109,Male,46,1,29.0,0,1-2 Year,No,41777.0,26.0,237,0

## 2.2 Data Dimensions

In [13]:
print('Total Rows: {}'.format(df2.shape[0]))
print('Total columns: {}'.format(df2.shape[1]))

Total Rows: 381109
Total columns: 12

## 2.3 Data Dtypes

In [14]:
df2.dtypes

id                        int64
gender                   object
age                       int64
driving_license           int64
region_code             float64
previously_insured        int64
vehicle_age              object
vehicle_damage           object
annual_premium          float64
policy_sales_channel    float64
vintage                   int64
response                  int64
dtype: object

## 2.4 Check NA

In [15]:
df2.isna().sum()

id                      0
gender                  0
age                     0
driving_license         0
region_code             0
previously_insured      0
vehicle_age             0
vehicle_damage          0
annual_premium          0
policy_sales_channel    0
vintage                 0
response                0
dtype: int64

## 2.5 Desciptive Statistical

In [16]:
df_num_attributes = df2.select_dtypes(['float64', 'int64'])
df_cat_attributes = df2.select_dtypes(['object'])

### 2.5.1 Numerical Attributes

In [17]:
# 'min', 'max', 'range', 'mean', 'median', 'standard_deviation', 'skewness', 'kurtosis'
aux1 = pd.DataFrame(df_num_attributes.min()).T                               # Min
aux2 = pd.DataFrame(df_num_attributes.max()).T                               # Max
aux3 = pd.DataFrame(aux2 - aux1)                                             # Range
aux4 = pd.DataFrame(df_num_attributes.mean()).T                              # Mean
aux5 = pd.DataFrame(df_num_attributes.median()).T                            # Median
aux6 = pd.DataFrame(df_num_attributes.std()).T                               # Standard Deviation
aux7 = pd.DataFrame(df_num_attributes.apply(lambda x: skew(x))).T            # Skewness
aux8 = pd.DataFrame(df_num_attributes.apply(lambda x: kurtosis(x))).T        # Kurtosis

descriptive_num_attributes = pd.concat([aux1, aux2, aux3, aux4, aux5, aux6, aux7, aux8]).T.reset_index()
columns_name = ['attribute','min', 'max', 'range', 'mean', 'median', 'standard_deviation', 'skewness', 'kurtosis']
descriptive_num_attributes.columns = columns_name
descriptive_num_attributes

,attribute,min,max,range,mean,median,standard_deviation,skewness,kurtosis
0,id,1.0,381109.0,381108.0,190555.000000,190555.0,110016.836208,9.443236e-16,-1.200000
1,age,20.0,85.0,65.0,38.822584,36.0,15.511611,6.725364e-01,-0.565663
2,driving_license,0.0,1.0,1.0,0.997869,1.0,0.046110,-2.159510e+01,464.348194
3,region_code,0.0,52.0,52.0,26.388807,28.0,13.229888,-1.152660e-01,-0.867861
4,previously_insured,0.0,1.0,1.0,0.458210,0.0,0.498251,1.677465e-01,-1.971861
5,annual_premium,2630.0,540165.0,537535.0,30564.389581,31669.0,17213.155057,1.766080e+00,34.004107
6,policy_sales_channel,1.0,163.0,162.0,112.034295,133.0,54.203995,-9.000046e-01,-0.970813
7,vintage,10.0,299.0,289.0,154.347397,154.0,83.671304,3.029505e-03,-1.200688
8,response,0.0,1.0,1.0,0.122563,0.0,0.327936,2.301897e+00,3.298729

### 2.5.2 Categorical Attributes

In [18]:
df_cat_attributes.apply(lambda x: x.unique().shape[0])

gender            2
vehicle_age       3
vehicle_damage    2
dtype: int64

In [19]:
df_cat_attributes.apply(lambda x: x.unique())

gender                             [Male, Female]
vehicle_age       [> 2 Years, 1-2 Year, < 1 Year]
vehicle_damage                          [Yes, No]
dtype: object

# 3. Feature Enginering

In [25]:
df3 = df2.copy()

In [71]:
df3 = df2.copy()

# Tranform gender in 1 to Male and 0 to Famale
df3['gender'] = df3['gender'].apply(lambda x: 1 if x == 'Male' else 0)


# Transform vihicle_age
# < 1 Year = 0
# 1-2 Year = 1
# > 2 Years = 2
df3['vehicle_age'] = df3['vehicle_age'].apply(lambda x: 0 if x == '< 1 Year' else
                                                        1 if x == '1-2 Year' else
                                                        2)
# Vehicle_damege | If vihicle dameged in the past
# 1 if Yes, 0 if No
df3['vehicle_damage'] = df3['vehicle_damage'].apply(lambda x: 1 if x == 'Yes' else 0)

# customer_since | vintage = Number of Days, Customer has been associated with the company
df3['customer_since'] = df3['vintage'].apply(lambda x: (datetime.today() - timedelta(days = x)) )

df3['customer_since_day'] = df3['customer_since'].apply(lambda x: x.day)
df3['customer_since_month'] = df3['customer_since'].apply(lambda x: x.month)
df3['customer_since_year'] = df3['customer_since'].apply(lambda x: x.year)



df3.head()

,id,gender,age,driving_license,region_code,previously_insured,vehicle_age,vehicle_damage,annual_premium,policy_sales_channel,vintage,response,customer_since,customer_since_day,customer_since_month,customer_since_year
0,1,1,44,1,28.0,0,2,1,40454.0,26.0,217,1,2022-10-18 21:12:16.680924,18,10,2022
1,2,1,76,1,3.0,0,1,0,33536.0,26.0,183,0,2022-11-21 21:12:16.680924,21,11,2022
2,3,1,47,1,28.0,0,2,1,38294.0,26.0,27,1,2023-04-26 21:12:16.680924,26,4,2023
3,4,1,21,1,11.0,1,0,0,28619.0,152.0,203,0,2022-11-01 21:12:16.680924,1,11,2022
4,5,0,29,1,41.0,1,0,0,27496.0,152.0,39,0,2023-04-14 21:12:16.680924,14,4,2023

# 4. Exploratory data analysis